
/* =============================== GETTING STARTED ===== */
	body {
		margin: 0;
	}

	p {
		margin: 3rem 0 0 4rem;
		max-width: 800px; 

		font-family: Helvetica, sans-serif;
		font-size: 1.6rem;
		line-height: 2.2rem;
		font-weight: 300;
	}

	.engage {
		/*background-color: black;*/
	}

	.background {
		position: absolute;
		top: 0;
		min-width: 100vw;
		min-height: 100vh;
	}

	.logo {
		position: absolute;
		top: 40vh;
		/*transform: translateY(-50%);*/
		margin-left: 50vw;
		transform: translateX(-50%);
		width: 50vw;
	}

	.hero-spacer {
		height: 100vw;
		width: 50px;

	}

	.large-space {
		width: 50px;
		height: 200px;
	}

/* =============================== DOTS ================ */

	.dot {
		position: absolute;
		top: 40vh;
		left: 50vw;
		transform: translateX(-50%);

		margin: 0rem;
		height: 2rem;
		width: 2rem;
		border-radius: 1rem;
		background-color: gold;
	}

	/* ========================== VECTORS ============ */

		.twelve {
			animation-name: twelve;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes twelve {
			from {top: 40vh;}
			to {top: 0;}
		}

		.one {
			animation-name: one;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes one {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 0;
				left: 75vw;
			}
		}

		.two {
			animation-name: two;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes two {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 0;
				left: 100vw;
			}
		}

		.three {
			animation-name: three;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes three {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 40vh;
				left: 100vw;
			}
		}

		.four {
			animation-name: four;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes four {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 0;
				left: 100vw;
			}
		}

		.five {
			animation-name: five;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes five {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 100vh;
				left: 65vw;
			}
		}

		.six {
			animation-name: six;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes six {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 100vh;
				left: 50vw;
			}
		}

		.seven {
			animation-name: seven;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes seven {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 100vh;
				left: 25vw;
			}
		}

		.eight {
			animation-name: eight;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes eight {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 75vh;
				left: 0vw;
			}
		}

		.nine {
			animation-name: nine;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes nine {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 40vh;
				left: 0vw;
			}
		}

		.ten {
			animation-name: ten;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes ten {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 15vh;
				left: 0vw;
			}
		}

		.eleven {
			animation-name: eleven;
			animation-duration: 3s;
			animation-fill-mode: forwards;
		}

		@keyframes eleven {
			from {
				top: 40vh;
				left: 50vw;
			}
			to {
				top: 0;
				left: 10vw;
			}
		}










